* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 7000px;
    background-image: url("../images/texture.jpg");
    background-size: contain;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 3rem;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    text-align: center;
    background-color: #7B66FF;
    padding: 3vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    color: white;
    margin-right: 1vw;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1vw;
}

nav a:hover {
    background: #6150cd;
}


nav a:last-child {
    margin-right: 0;
}

nav a:visited {
    color: white;
}

#about {
    background-color: white;
    margin-top: 9vh;
    font-family: verdana, sans-serif;
    display: flex;
    padding: 15vh 15vw 20vh 10vw;
    /* margin-bottom: 15vh; */
}

#about img {
    border-radius: 50%;
    height: 59vh;
    transition: 0.5s box-shadow, 0.5s border;
    border: 7px solid transparent;
    box-shadow: 1vw -1vw #3a90ce;

}

#about img:hover {
    box-shadow: none;
    cursor: pointer;
    border: 15px solid transparent;
}

.innerAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    margin-top: 15vh;

}

.innerAbout p:first-child {
    font-size: 8vh;
    line-height: 8vh;
    margin-bottom: 4vh;
}

.innerAbout p:nth-child(2) {
    font-size: 3.2vh;
    line-height: 4vh;
    margin-bottom: 3vh;
}

.innerAbout a:visited {
    color: white;
}

.innerAbout a {
    text-decoration: none;
    display: inline-block !important;
    padding: 3vh;
    background-color: #3a90ce;
    border-radius: 5vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.innerAbout a:hover {
    background-color: #5FBDFF;
    transform: scale(1.05);
}

.bold {
    background-image: linear-gradient(90deg, #5FBDFF, #6150cd);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease-in-out;
}

.bold:hover {
    background-size: 100% 2px;
}

.titleDiv {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    line-height: 3vh;
    padding-bottom: 15vh;
    padding-top: 15vh;
}


#skills p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#skills {
    background: rgba(245, 245, 245, 0.47);
}

.container {
    display: flex;
    width: 80%;
}

.sub-div {
    flex: 1;
    padding: 3rem;
    background: whitesmoke;
    text-align: center;
    margin-right: 2vw;
    margin-bottom: 2vw;
    border-radius: 1.5vw;
    box-shadow: 1vh 1vh 5vh rgba(0, 0, 0, 0.276);
    transition: 0.4s box-shadow, 0.5s transform;
}

.container:nth-child(3) .sub-div {
    margin-bottom: 15vh;
}

.sub-div:hover {
    box-shadow: none;
    transform: translate(0vh, -2vh);
    box-shadow: 1vh 1vh 4vh #000000;
}

.sub-div:last-child {
    margin-right: 0vw;
}

.sub-div h2 {
    line-height: 7.5vh;
    color: #000000be;
}

.sub-div p {
    color: grey;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.projet img {
    height: 36vh;
    margin: auto;
    transition: 0.5s transform;
}

.projet {
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background: white;
    border-top-right-radius: 6vh;
    transition: 0.5s box-shadow, 0.5s transform ease;
}

.projet:hover {
    box-shadow: 1vh 1vh 6vh rgba(0, 0, 0, 0.616);
    transform: translateY(-1vh);
    /* cursor: pointer; */
}

.projet:hover img {
    transform: scale(1.03);
}

.projetTtl {
    font-size: larger;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.projetTtl>span {
    line-height: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.projetTtl>span>a {
    text-decoration: none;
    background-image: linear-gradient(90deg, grey, black);
    background-repeat: no-repeat;
    background-size: 0% 1px;
    background-position: left bottom;
    transition: background-size 300ms ease-in-out;
}

.projetTtl>span>a:hover {
    background-size: 100% 2px;
}

.projetIcons i:not(:first-child) {
    margin-right: 1.5vh;
}

.projet a {
    margin-left: 1.5vh;
    color: rgba(0, 0, 0, 0.594);
}

.info-class {
    font-size: medium;
    color: black;
    background: white;
    border-top-left-radius: 6vh;
    padding: 1rem;
    transition: 0.5s box-shadow, 0.5s transform;
    display: flex;
    flex-direction: column;
}

.info-class>a {
    text-decoration: none;
}

.info-class>a {
    text-decoration: none;
    margin: auto;
    color: #000000;
    background-image: linear-gradient(90deg, #7B66FF, #7B66FF);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition:  300ms background-size ease-in-out;
}

.info-class>a:hover {
    background-size: 100% 2px;
}

.info-class>img {
    align-self: flex-end;
    margin-top: auto;
    height: 15vh;
    filter: invert(39%) sepia(46%) saturate(1537%) hue-rotate(220deg) brightness(103%) contrast(101%);
}

.info-class:hover {
    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.616);
    transform: translateY(-1.5vh);
}

.container-projet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: smaller;
    display: flex;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 15vh;
}