* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 7000px;
    background-image: url("../images/texture.jpg");
    background-size: contain;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 3rem;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    text-align: center;
    background-color: #7B66FF;
    padding: 3vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    color: white;
    margin-right: 1vw;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1vw;
}

nav a:hover {
    background: #6150cd;
}


nav a:last-child {
    margin-right: 0;
}

nav a:visited {
    color: white;
}

#about {
    background-color: white;
    margin-top: 9vh;
    font-family: verdana, sans-serif;
    display: flex;
    padding: 15vh 15vw 20vh 10vw;
    /* margin-bottom: 15vh; */
}

#about img {
    border-radius: 50%;
    height: 59vh;
    transition: 0.5s box-shadow, 0.5s border;
    border: 7px solid transparent;
    box-shadow: 1vw -1vw #3a90ce;

}

#about img:hover {
    box-shadow: none;
    cursor: pointer;
    border: 15px solid transparent;
}

.innerAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    margin-top: 15vh;

}

.innerAbout p:first-child {
    font-size: 8vh;
    line-height: 8vh;
    margin-bottom: 4vh;
}

.innerAbout p:nth-child(2) {
    font-size: 3.2vh;
    line-height: 4vh;
    margin-bottom: 3vh;
}

.innerAbout a:visited {
    color: white;
}

.innerAbout a {
    text-decoration: none;
    display: inline-block !important;
    padding: 3vh;
    background-color: #3a90ce;
    border-radius: 5vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.innerAbout a:hover {
    background-color: #5FBDFF;
    transform: scale(1.05);
}

.titleDiv {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    line-height: 3vh;
    padding-bottom: 15vh;
    padding-top: 15vh;
    /* background: rgba(245, 245, 245, 0.39); */
}


#skills p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#skills {
    background: rgba(245, 245, 245, 0.47);
}

.container {
    display: flex;
    width: 80%;

}

.sub-div {
    flex: 1;
    padding: 3rem;
    background: whitesmoke;
    text-align: center;
    margin-right: 2vw;
    margin-bottom: 2vw;
    border-radius: 1.5vw;
    box-shadow: 1vh 1vh 5vh rgba(0, 0, 0, 0.276);
    transition: 0.4s box-shadow, 0.5s transform;
}

.container:nth-child(3) .sub-div {
    margin-bottom: 15vh;
}

.sub-div:hover {
    box-shadow: none;
    transform: translate(0vh, -2vh);
    box-shadow: 1vh 1vh 4vh #000000;
}

.sub-div:last-child {
    margin-right: 0vw;
}

.sub-div h2 {
    line-height: 7.5vh;
    color: #000000be;
}

.sub-div p {
    color: grey;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#projects {
    background: rgba(245, 245, 245, 0.47);
}

.projet img{
    height: 30vh;
}

.projet{
    display: flex;
    flex-direction: row;
}